<!DOCTYPE html>
<html>
  <head>
    <title>YH Tools</title>
    <script>history.replaceState({}, "", "/");</script>
  </head>
  <body>
    <div id="app"></div>
    <script crossorigin src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
  </body>
</html>
